/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image: url("../img/bg.png");
    background-size: cover; /* Растягивает картинку на весь фон */
    background-repeat: no-repeat; /* Запрещает повторение картинки */
    background-position: center center;
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size:12px;
    height:100vh;
    margin:0px;
    padding:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    text-transform:uppercase;
    width:100%;
}

.loader-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Стили для мяча */
.football {
    width: 100px;
    height: 100px;
    background: radial-gradient(circle at 30% 30%, #feb803, #feb803);
    border-radius: 50%;
    position: relative;
    animation: bounce 1s infinite ease-in-out, rotate 2s infinite linear;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

/* Пятна на мяче */
.football::before,
.football::after {
    content: '';
    position: absolute;
    background: #000;
    border-radius: 50%;
}

.football::before {
    width: 20px;
    height: 20px;
    top: 20%;
    left: 60%;
    transform: rotate(45deg);
}

.football::after {
    width: 25px;
    height: 25px;
    top: 60%;
    left: 20%;
    transform: rotate(-30deg);
}



/* Анимация подпрыгивания */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
}

/* Анимация вращения */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
